celeste = #0088CC
celeste_bajo = #89C4E2
celeste_claro = #2B9CD4
celeste_oscuro = #036BA5

fondo = #2B3336
fondo_blanco = #FFFFFF
fondo_blanco_oscuro = #F8F8F8
fondo_oscuro = #151515

letra = #ffffff
letra_negra = #444444
letra_oscura = #B4B4B4

rojo = #f36050
rojo_claro = #e74c3c
rojo_oscuro = #B91C23

@import url("http://fonts.googleapis.com/css?family=Open+Sans")
@import url("http://fonts.googleapis.com/css?family=Lato")
@import 'nib/vendor'
@font-face {
	font-family: 'sin_icons';
	src:url('fonts/sin_icons.eot');
	src:url('fonts/sin_icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/sin_icons.woff') format('woff'),
		url('fonts/sin_icons.ttf') format('truetype'),
		url('fonts/sin_icons.svg#sin_icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
vendor-prefixes = moz ms o webkit official

body
	background fondo_blanco_oscuro
	font-family 'Open Sans', Helvetica, Arial
	font-size 16px
	margin 0
	text-align center

h1, h2, h3, h4, ol, ul, li, p, a
	margin 0 
	padding 0

h1, h2, h3, h4, h5, h6
	color inherit
	font-family inherit
	text-rendering optimizelegibility
ol, ul
	list-style none


/* --- header --- */
header
	background rgba(255,255,255, 0.9)
	border-top 5px solid rojo
	box-shadow 0 1px 2px #ddd
	height 85px
	margin 0
	padding 0
	top 0
	position fixed
	width 100%
	z-index 99
	#logo
		float left
		margin 8px 0 0 8em
		img
			vertical-align middle
			width 50px
	nav
		font-size 1em
		float right
		margin 8px 8em 0 0
		ul
			list-style none
			li
				display inline-block
				margin 0
				vertical-align top
				zoom 1
				a
					border-bottom 1px solid celeste_claro
					color celeste_claro
					display block 
					font-family 'Lato', Open Sans, Helvetica
					font-weight 500
					padding 0.9em 0.8em
					transition all ease-in-out 0.3s
					text-decoration none
					text-transform uppercase
					text-rendering optimizelegibility
				a:hover
					border-bottom 1px solid rojo_claro
					color rojo
				.selected
					color rojo
					border-bottom 1px solid rojo
footer, .pre_footer
	box-sizing border-box
	padding 0.5em
	width 100%

/* --- Footer --- */
footer
	background fondo
	color letra_oscura
	.f_left
		float left
		margin-left 1em
		a
			color letra
			font-size 14px
			text-decoration none
		a:hover
			color rojo
			text-decoration underline
	.f_right
		float right
		margin-right 1em
		p
			font-size 14px
			padding-top 2px
					
/* --- Section_Home --- */
#s_section
	color letra_negra
	margin 0 auto
	overflow hidden
	width 100%
	#s_a_descripcion
		background fondo_blanco
		margin inherit
		padding 5em 0 1em 0
		img
			border 4px solid letra_oscura
			border-radius 50%
			opacity .8
			transition .5s
			width 100px
		img:hover
			border 4px solid letra_negra
			opacity 1
		h1
			font-family Helvetica
			font-weight bold
			font-size 1.8em
			letter-spacing 1px
			margin-top 0.8em
			vertical-align middle
		h3
			font-size 1.2em
			margin 1em 5em
	.s_a_section
		margin 0 auto
		max-width 1024px
		/* Text styl */
		h2
			font-size 2.5em
			font-weight 300
			line-height 2
		p
			font-size 1.1em
			font-weight 100
			line-height 1.5
			text-align justify
		/* fin stilo de texto */
		&:after
		&:before
			content " "
			display table
		&:after
			clear both
		.s_a_side
			float left
			margin 0
			min-height 12em
			padding 0.7em 0
			overflow hidden
			transition transform 0.5s, opacity 0.5s
			width 50%
			&:after
			&:before
				content ""
				display table
			&:after
				clear both
		.s_a_side_left
			text-align right
			vertical-align middle
			.icon
				background letra_oscura
				border 5px solid letra
				border-radius 50%
				margin 0 140px
				float right
				transition all ease-in-out 0.4s
			.icon:hover
				border 5px solid letra_negra
			.icon_garantia
				&:before
					color letra
					content "\e600"
					display inline-block
					font-family "sin_icons"
					font-size 9em
					padding 0.2em
			.icon_mantenimiento
				&:before
					color letra
					content "\e602"
					display inline-block
					font-family "sin_icons"
					font-size 9em
					padding 0.2em
					font-size 9em
					padding 0.2em
		.s_a_side_right
			text-align left
			vertical-align middle
			.icon
				background letra_oscura
				border 5px solid letra
				border-radius 50%
				margin 0 140px
				float left
				transition all ease-in-out 0.4s
			.icon:hover
				border 5px solid letra_negra
			.icon_seguridad
				&:before
					color letra
					content "\e601"
					display inline-block
					font-family "sin_icons"
					font-size 9em
					padding 0.2em
			.icon_comercio
				&:before
					color letra
					content "\e603"
					display inline-block
					font-family "sin_icons"
					font-size 9em
					padding 0.2em
		/* Initial state (hidden or anything else) */
		.s_a_init .s_a_side {
			opacity: 0;
		}

		.s_a_init .s_a_side-left {
			transform translateX(-80px)
		}

		.s_a_init .s_a_side-right {
			transform translateX(80px)
		}

		/* Animated state */
		/* add you final states (transition) or your effects (animations) for each side */
		.s_a_section.s_a_animate .s_a_side-left,
		.s_a_section.s_a_animate .s_a_side-right {
			transform translateX(0px)
			opacity: 1;
		}

/* --- Triangulo Slider --- */
.sequence-theme:after
	content ""
	display block
	border 4.25em solid transparent
	border-top-color #00659D
	border-top-widht 1.5em
	position absolute
	left 50%
	/*bottom -3.65625em*/
	margin-left -4.25em
	z-index 10

.clearfix, .pre_footer, footer
	zoom 1
.clearfix:after, .pre_footer:after, footer:after
	clear both
	content "\0020"
	display block
	height 0 
	visibility hidden
.clear
	display block
	clear both
	zoom 1

/* --- Nosotros --- */
@import 'nosotros.styl'
/* --- Fin-Nosotros --- */

/* --- pre-footer_Home --- */
.pre_footer
	background celeste
	border-top 10px solid celeste_bajo
	margin-top 3em
	aside, #p_f_direccion, #mapa, #social
		padding 1.5em 0
	aside
		float right
		margin 2.3em 2em 0 0
		a
			background celeste_bajo
			.ico
				
				border 1px solid letra
				border-radius 50%
				float right
				margin 0 0.6em 0 0
				padding 0.4em
				transition all ease-in-out 0.2s
			.ico-facebook
				&:before
					color letra
					content "\e604"
					display block
					font-family "sin_icons"
					font-size 2em
					padding 0.1em
					transition all ease-in-out 0.2s
			.ico-facebook:hover
				border 1px solid #3b5998
				&:before
					color #3b5998
			.ico-twitter
				&:before
					color letra
					content "\e605"
					display block
					font-family "sin_icons"
					font-size 2em
					padding 0.1em
					transition all ease-in-out 0.2s
			.ico-twitter:hover
				border 1px solid #9AE4E8
				&:before
					color #9AE4E8
			.ico-google
				&:before
					color letra
					content "\e606"
					display block
					font-family "sin_icons"
					font-size 2em
					padding 0.1em
					transition all ease-in-out 0.2s
			.ico-google:hover
				border 1px solid #CE3D2B
				&:before
					color #CE3D2B
	#p_f_direccion
		color letra
		float left
		margin 0 0 0 2em
		text-align left
		vertical-align middle
		width 320px
		h2
			font-size 1.2em
			line-height 1.4
			text-shadow 1px 1px letra, -1px -1px #555
		p
			font-size 0.9em
			line-height 1.7
			margin 0 0 0 1em
	#mapa
		float left
		margin 0 0 0 13em
		&:before
			color celeste_oscuro
			content "\e60b"
			display inline-block
			font-family "sin_icons"
			font-size 8em
			margin 0
			text-shadow none
			vertical-align middle
	#social
		float right
		margin 0 13em 0 0
		&:before
			color celeste_oscuro
			content "\e60a"
			display inline-block
			font-family "sin_icons"
			font-size 8em
			margin 0
			text-shadow none
			vertical-align middle