@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@font-face{font-family:'sin_icons';src:url("fonts/sin_icons.eot");src:url("fonts/sin_icons.eot?#iefix") format('embedded-opentype'),url("fonts/sin_icons.woff") format('woff'),url("fonts/sin_icons.ttf") format('truetype'),url("fonts/sin_icons.svg#sin_icons") format('svg');font-weight:normal;font-style:normal}
body{background:#f8f8f8;font-family:'Open Sans',Helvetica,Arial;font-size:16px;margin:0;text-align:center}
h1,h2,h3,h4,ul,p,a{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{color:inherit;font-family:inherit;font-weight:bold;text-rendering:optimizelegibility}
.clearfix,.pre_footer,footer{zoom:1}
.clearfix:after,.pre_footer:after,footer:after{clear:both;content:"\0020";display:block;height:0;visibility:hidden}
.clear{display:block;clear:both;zoom:1}
header{border-top:5px solid #e64135;height:85px;margin:0;padding:0;top:0;width:100%;z-index:99;}
header #logo{float:left;margin:8px 0 0 8em;}
header #logo img{cursor:pointer;vertical-align:middle;width:50px}
header nav{font-size:1em;float:right;margin:8px 8em 0 0;}
header nav ul{list-style:none;}
header nav ul li{display:inline-block;margin:0;vertical-align:top;zoom:1;}
header nav ul li a{border-bottom:2px solid #d4d4d4;color:#444;display:block;padding:.9em .5em;-moz-transition:all ease-in-out 0.3s;-ms-transition:all ease-in-out 0.3s;-o-transition:all ease-in-out 0.3s;-webkit-transition:all ease-in-out 0.3s;transition:all ease-in-out 0.3s;text-decoration:none}
header nav ul li a:hover{border-bottom:2px solid #e64135;color:#e64135}
header nav ul li .selected{color:#e64135;border-bottom:2px solid #e64135}
footer,.pre_footer{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:.5em;width:100%}
footer{color:#89c4e2;}
footer .f_left{float:left;margin-left:1em;}
footer .f_left a{color:#2b9cd4;font-size:14px;text-decoration:none}
footer .f_left a:hover{color:#e64135;text-decoration:underline}
footer .f_right{float:right;margin-right:1em;}
footer .f_right p{font-size:14px;padding-top:2px}
#s_section{color:#444;margin:0 auto;overflow:hidden;width:100%;}
#s_section #s_a_descripcion{background:#fff;margin:inherit;padding:5em 0 1em 0;}
#s_section #s_a_descripcion img{border:4px solid #b4b4b4;-webkit-border-radius:50%;border-radius:50%;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);-moz-transition:0.5s;-ms-transition:0.5s;-o-transition:0.5s;-webkit-transition:0.5s;transition:0.5s;width:100px}
#s_section #s_a_descripcion img:hover{border:4px solid #444;opacity:1;-ms-filter:none;filter:none}
#s_section #s_a_descripcion h1{font-family:Helvetica;font-weight:bold;font-size:1.8em;letter-spacing:1px;margin-top:.8em;vertical-align:middle}
#s_section #s_a_descripcion h3{font-size:1.2em;margin:1em 5em}
#s_section .s_a_section{margin:0 auto;max-width:1024px;}
#s_section .s_a_section h2{font-size:2.5em;font-weight:300;line-height:2}
#s_section .s_a_section p{font-size:1.1em;font-weight:100;line-height:1.5;text-align:justify}
#s_section .s_a_section:after,#s_section .s_a_section:before{content:" ";display:table}
#s_section .s_a_section:after{clear:both}
#s_section .s_a_section .s_a_side{float:left;margin:0;min-height:12em;padding:.7em 0;overflow:hidden;-moz-transition:-moz-transform 0.5s, opacity 0.5s;-ms-transition:-ms-transform 0.5s, opacity 0.5s;-o-transition:-o-transform 0.5s, opacity 0.5s;-webkit-transition:-webkit-transform 0.5s, opacity 0.5s;transition:transform 0.5s, opacity 0.5s;width:50%;}
#s_section .s_a_section .s_a_side:after,#s_section .s_a_section .s_a_side:before{content:"";display:table}
#s_section .s_a_section .s_a_side:after{clear:both}
#s_section .s_a_section .s_a_side_right{text-align:left;vertical-align:middle;}
#s_section .s_a_section .s_a_side_right .icon{background:#b4b4b4;border:5px solid #fff;-webkit-border-radius:50%;border-radius:50%;margin:0 140px;float:left;-moz-transition:all ease-in-out 0.4s;-ms-transition:all ease-in-out 0.4s;-o-transition:all ease-in-out 0.4s;-webkit-transition:all ease-in-out 0.4s;transition:all ease-in-out 0.4s}
#s_section .s_a_section .s_a_side_right .icon:hover{border:5px solid #444}
#s_section .s_a_section .s_a_side_right .icon_seguridad:before{color:#fff;content:"\e601";display:inline-block;font-family:"sin_icons";font-size:9em;padding:.2em}
#s_section .s_a_section .s_a_side_right .icon_comercio:before{color:#fff;content:"\e603";display:inline-block;font-family:"sin_icons";font-size:9em;padding:.2em}
#s_section .s_a_section .s_a_side_left{text-align:right;vertical-align:middle;}
#s_section .s_a_section .s_a_side_left .icon{border:5px solid #b4b4b4;-webkit-border-radius:50%;border-radius:50%;margin:0 140px;float:right;-moz-transition:all ease-in-out 0.2s;-ms-transition:all ease-in-out 0.2s;-o-transition:all ease-in-out 0.2s;-webkit-transition:all ease-in-out 0.2s;transition:all ease-in-out 0.2s}
#s_section .s_a_section .s_a_side_left .icon:hover{border:5px solid #444}
#s_section .s_a_section .s_a_side_left .icon_garantia:before{color:#b4b4b4;content:"\e600";display:inline-block;font-family:"sin_icons";font-size:9em;padding:.2em}
#s_section .s_a_section .s_a_side_left .icon_mantenimiento:before{color:#b4b4b4;content:"\e602";display:inline-block;font-family:"sin_icons";font-size:9em;padding:.2em}
#s_section .s_a_section .s_a_init .s_a_side{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
#s_section .s_a_section .s_a_init .s_a_side-left{-moz-transform:translateX(-80px);-ms-transform:translateX(-80px);-o-transform:translateX(-80px);-webkit-transform:translateX(-80px);transform:translateX(-80px)}
#s_section .s_a_section .s_a_init .s_a_side-right{-moz-transform:translateX(80px);-ms-transform:translateX(80px);-o-transform:translateX(80px);-webkit-transform:translateX(80px);transform:translateX(80px)}
#s_section .s_a_section .s_a_section.s_a_animate .s_a_side-left,#s_section .s_a_section .s_a_section.s_a_animate .s_a_side-right{-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);-webkit-transform:translateX(0);transform:translateX(0);opacity:1;-ms-filter:none;filter:none}
.jms-slideshow:after{content:"";display:block;border:4.25em solid transparent;border-top-color:#08c;border-top-widht:1.5em;position:absolute;left:50%;margin-left:-4.25em;z-index:900}
.pre_footer{background:#08c;border-top:10px solid #89c4e2;margin-top:3em;}
.pre_footer aside,.pre_footer #p_f_direccion,.pre_footer #mapa,.pre_footer #social{padding:1.5em 0}
.pre_footer aside{float:right;margin:2.3em 2em 0 0;}
.pre_footer aside a{background:#89c4e2;}
.pre_footer aside a .ico{border:1px solid #fff;-webkit-border-radius:50%;border-radius:50%;float:right;margin:0 .6em 0 0;padding:.4em;-moz-transition:all ease-in-out 0.2s;-ms-transition:all ease-in-out 0.2s;-o-transition:all ease-in-out 0.2s;-webkit-transition:all ease-in-out 0.2s;transition:all ease-in-out 0.2s}
.pre_footer aside a .ico-facebook:before{color:#fff;content:"\e604";display:block;font-family:"sin_icons";font-size:2em;padding:.1em;-moz-transition:all ease-in-out 0.2s;-ms-transition:all ease-in-out 0.2s;-o-transition:all ease-in-out 0.2s;-webkit-transition:all ease-in-out 0.2s;transition:all ease-in-out 0.2s}
.pre_footer aside a .ico-facebook:hover{border:1px solid #3b5998;}
.pre_footer aside a .ico-facebook:hover:before{color:#3b5998}
.pre_footer aside a .ico-twitter:before{color:#fff;content:"\e605";display:block;font-family:"sin_icons";font-size:2em;padding:.1em;-moz-transition:all ease-in-out 0.2s;-ms-transition:all ease-in-out 0.2s;-o-transition:all ease-in-out 0.2s;-webkit-transition:all ease-in-out 0.2s;transition:all ease-in-out 0.2s}
.pre_footer aside a .ico-twitter:hover{border:1px solid #9ae4e8;}
.pre_footer aside a .ico-twitter:hover:before{color:#9ae4e8}
.pre_footer aside a .ico-google:before{color:#fff;content:"\e606";display:block;font-family:"sin_icons";font-size:2em;padding:.1em;-moz-transition:all ease-in-out 0.2s;-ms-transition:all ease-in-out 0.2s;-o-transition:all ease-in-out 0.2s;-webkit-transition:all ease-in-out 0.2s;transition:all ease-in-out 0.2s}
.pre_footer aside a .ico-google:hover{border:1px solid #ce3d2b;}
.pre_footer aside a .ico-google:hover:before{color:#ce3d2b}
.pre_footer #p_f_direccion{color:#fff;float:left;margin:0 0 0 2em;text-align:left;vertical-align:middle;width:320px;}
.pre_footer #p_f_direccion h2{font-size:1.2em;line-height:1.4;text-shadow:1px 1px #fff,-1px -1px #555}
.pre_footer #p_f_direccion p{font-size:.9em;line-height:1.7;margin:0 0 0 1em}
.pre_footer #mapa{float:left;margin:0 0 0 13em;}
.pre_footer #mapa:before{color:#036ba5;content:"\e60b";display:inline-block;font-family:"sin_icons";font-size:8em;margin:0;text-shadow:none;vertical-align:middle}
.pre_footer #social{float:right;margin:0 13em 0 0;}
.pre_footer #social:before{color:#036ba5;content:"\e60a";display:inline-block;font-family:"sin_icons";font-size:8em;margin:0;text-shadow:none;vertical-align:middle}
