celeste = #0088CC
celeste_claro = #2B9CD4
celeste_oscuro = #036BA5
celeste_bajo = #89C4E2

fondo = #2B3336
fondo_oscuro = #151515

letra = #ffffff
letra_oscura = #A9A9A9

rojo = #E64135
rojo_oscuro = #B91C23
rojo_claro = #e74c3c

@import url("http://fonts.googleapis.com/css?family=Open+Sans")
@import url("http://fonts.googleapis.com/css?family=Titan+One")
@font-face {
	font-family: 'sin_icons';
	src:url('fonts/sin_icons.eot');
	src:url('fonts/sin_icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/sin_icons.woff') format('woff'),
		url('fonts/sin_icons.ttf') format('truetype'),
		url('fonts/sin_icons.svg#sin_icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

background-clip()
	-moz-background-clip arguments
	-ms-background-clip arguments
	-o-background-clip arguments
	-webkit-background-clip arguments
	background-clip arguments

background-size()
	-moz-background-size arguments
	-ms-background-size arguments
	-o-background-size arguments
	-webkit-background-size arguments
	background-size arguments

border-radius()
	-moz-border-radius arguments
	-ms-border-radius arguments
	-o-border-radius arguments
	-webkit-border-radius arguments
	border-radius arguments

box-shadow()
	-moz-box-shadow arguments
	-ms-box-shadow arguments
	-o-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments

box-sizing()
	-moz-box-sizing arguments
	-ms-box-sizing arguments
	-o-box-sizing arguments
	-webkit-box-sizing arguments
	box-sizing arguments

filter()
	-moz-filter arguments
	-ms-filter arguments
	-o-filter arguments
	-webkit-filter arguments
	filter arguments

gradient()
	-moz-gradient arguments
	-ms-gradient arguments
	-o-gradient arguments
	-webkit-gradient arguments
	gradient arguments

linear-gradient()
	-moz-linear-gradient arguments
	-ms-linear-gradient arguments
	-o-linear-gradient arguments
	-webkit-linear-gradient arguments
	linear-gradient arguments

text-shadow()
	-moz-text-shadow arguments
	-ms-text-shadow arguments
	-o-text-shadow arguments
	-webkit-text-shadow arguments
	text-shadow arguments

transition()
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	-webkit-transition arguments
	transition arguments

body
	background fondo
	font-family 'Helvetica neue', sans-serif
	font-size 16px
	margin 0
	text-align center

h1, h2, h3, h4, ul, p, a
	margin 0 
	padding 0

h1, h2, h3, h4, h5, h6
	color inherit
	font-family inherit
	font-weight bold
	text-rendering optimizelegibility

.clearfix, .approves, .dead-line, .sale-container, .course.sale .date, .pre_footer, .footer
	zoom 1
.clearfix:after, .approves:after, .dead-line:after, .sale-container:after,.course.sale .date:after, .pre_footer:after, .footer:after
	clear both
	content "\0020"
	display block
	height 0 
	visibility hidden
.clear
	display block
	clear both
	zoom 1
/* --- header --- */
header
	border-top 5px solid rojo
	height 85px
	margin 0
	padding 0
	top 0
	width 100%
	z-index 99
	#logo
		float left
		margin 8px 0 0 8em
		padding 0
		h1, img
			display inline-block
			vertical-align top
		h1
			color letra
			font-size 1.8em
			font-family Helvetica
			letter-spacing 2px
			margin 0 0 0 0.2em
			vertical-align middle
			/*text-shadow 1px 1px letra, -1px -1px #555*/
		img
			cursor pointer
			vertical-align middle
			width 50px
	nav
		font-size 1em
		font-weight bold
		float right
		margin 8px 8em 0 0
		ul
			list-style none
			li
				display inline-block
				margin 0
				vertical-align top
				zoom 1
				a
					border-bottom 2px solid #aaa
					color letra
					font-family Helvetica
					display block 
					padding 0.9em 0.5em
					transition (all ease-in-out 0.3s)
					text-decoration none
				a:hover
					border-bottom 2px solid rojo
					color rojo
				.selected
					color rojo
					border-bottom 2px solid rojo
footer, .pre_footer
	box-sizing (border-box)
	padding 1em
	width 100%

/* --- Footer --- */
footer
	color letra_oscura
	#f_left
		float left
		a
			color letra
			font-size 0.9em
			vertical-align middle
		a:hover
			color rojo
	#f_right
		float right
		p
			font-size 0.9em
			vertical-align middle
					
/* --- Section_Home --- */
#s_section
	color letra_oscura
	margin 5.5em auto 0 auto
	overflow hidden
	width 80%
	#s_a_descripcion
		margin 0.6em 0
		img
			opacity .6
			transition (.5s)
			width 100px
		img:hover
			opacity 1
		h3
			font-size 1.2em
			margin 1em 5em
	.s_a_section
		margin 2em 0 0.5em 0
		/* Text styl */
		h2
			font-size 3em
			font-weight 300
			line-height 2
		p
			font-size 1.1em
			font-weight 100
			line-height 1.5
			text-align justify
		/* fin stilo de texto */
		&:after
		&:before
			content " "
			display table
		&:after
			clear both
		.s_a_side
			float left
			margin 0
			min-height 12em
			padding 1em 0
			overflow hidden
			-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
			-moz-transition: -moz-transform 0.5s, opacity 0.5s;
			transition: transform 0.5s, opacity 0.5s;
			width 50%
			&:after
			&:before
				content ""
				display table
			&:after
				clear both
		.s_a_side_right
			text-align left
			.icon
				/*background letra_oscura*/
				border 5px solid letra_oscura
				border-radius (50%)
				margin 0 140px
				float left
				transition (all ease-in-out 0.2s)
			.icon:hover
				border 5px solid letra
				border-radius (100px 25px 100px 25px)
			.icon_garantia
				&:before
					color letra_oscura
					content "\e600"
					display inline-block
					font-family "sin_icons"
					font-size 10em
					padding 0.2em
			.icon_mantenimiento
				&:before
					color letra_oscura
					content "\e602"
					display inline-block
					font-family "sin_icons"
					font-size 10em
					padding 0.2em
		.s_a_side_left
			text-align right
			.icon
				/*background letra_oscura*/
				border 5px solid letra_oscura
				border-radius (50%)
				margin 0 140px
				float right
				transition (all ease-in-out 0.2s)
			.icon:hover
				border 5px solid letra
				border-radius (25px 100px 25px 100px) 
			.icon_seguridad
				&:before
					color letra_oscura
					content "\e601"
					display inline-block
					font-family "sin_icons"
					font-size 10em
					padding 0.2em
			.icon_comercio
				&:before
					color letra_oscura
					content "\e603"
					display inline-block
					font-family "sin_icons"
					font-size 10em
					padding 0.2em
		/* Initial state (hidden or anything else) */
		.s_a_init .s_a_side {
			opacity: 0;
		}

		.s_a_init .s_a_side-left {
			-webkit-transform: translateX(-80px);
			-moz-transform: translateX(-80px);
			transform: translateX(-80px);
		}

		.s_a_init .s_a_side-right {
			-webkit-transform: translateX(80px);
			-moz-transform: translateX(80px);
			transform: translateX(80px);
		}

		/* Animated state */
		/* add you final states (transition) or your effects (animations) for each side */
		.s_a_section.s_a_animate .s_a_side-left,
		.s_a_section.s_a_animate .s_a_side-right {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			opacity: 1;
		}

/* --- Triangulo Slider --- */
.jms-slideshow:after
	content ""
	display block
	border 4.25em solid transparent
	border-top-color celeste
	border-top-widht 1.5em
	position absolute
	left 50%
	/*bottom -3.65625em*/
	margin-left -4.25em
	z-index 900

/* --- pre-footer_Home --- */
.pre_footer
	background celeste
	aside
		float right
		margin 2.3em 2em 0 0
		a
			background celeste_bajo
			.ico
				
				border 1px solid letra
				border-radius (50%)
				float right
				margin 0 0.6em 0 0
				padding 0.4em
				transition (all ease-in-out 0.2s)
			.ico-facebook
				&:before
					color letra
					content "\e604"
					display block
					font-family "sin_icons"
					font-size 2em
					padding 0.1em
					transition (all ease-in-out 0.2s)
			.ico-facebook:hover
				border 2px solid #3b5998
				&:before
					color #3b5998
			.ico-twitter
				&:before
					color letra
					content "\e605"
					display block
					font-family "sin_icons"
					font-size 2em
					padding 0.1em
					transition (all ease-in-out 0.2s)
			.ico-twitter:hover
				border 2px solid #9AE4E8
				&:before
					color #9AE4E8
			.ico-google
				&:before
					color letra
					content "\e606"
					display block
					font-family "sin_icons"
					font-size 2em
					padding 0.1em
					transition (all ease-in-out 0.2s) 
			.ico-google:hover
				border 2px solid #CE3D2B
				&:before
					color #CE3D2B
	#p_f_direccion
		color letra
		float left
		margin 0 0 0 2em
		text-align left
		vertical-align middle
		width 320px
		h2
			font-size 1.2em
			line-height 1.4
			text-shadow 1px 1px letra, -1px -1px #555
		p
			font-family Helvetica, Arial
			font-size 0.9em
			line-height 1.7
			margin 0 0 0 1em
	#mapa
		float left
		margin 0 0 0 10em
		&:before
			color celeste_oscuro
			content "\e60b"
			display inline-block
			font-family "sin_icons"
			font-size 8em
			margin 0
			text-shadow none
			vertical-align middle
	#social
		float right
		margin 0 10em 0 0
		&:before
			color celeste_oscuro
			content "\e60a"
			display inline-block
			font-family "sin_icons"
			font-size 8em
			margin 0
			text-shadow none
			vertical-align middle