/*
	&:after
	&:before
		content ""
		display table
		line-height 0
	&:after
		clear both*/

.header_page
	background celeste
	color letra
	padding 3em 0
	width 100%
	h1
		margin 0 auto
		font-weight 300
		text-align left
		text-shadow 1px 1px letra, -1px -1px #555
		width 960px