/*
	&:after
	&:before
		content ""
		display table
		line-height 0
	&:after
		clear both*/
/* --- Contenido Nosotros --- */
.s_innovacion, .s_services
	color letra_negra
	font-size 1em
	padding 2em 0
	margin auto
	text-align center
	width 100%
.s_services
	background fondo_blanco_oscuro
	.services
		margin 0 auto
		padding 1em 0.5em
		width 85%
		&:after
		&:before
			content ""
			display table
			line-height 0
		&:after
			clear both
		.ss_article
			float left
			width 340px
			.ssa_img
				margin 0.5em auto 2em
				img
					border 5px solid rojo
					border-radius 50%
					transition all ease-in-out 0.5s
					width 150px
				img:hover
					border 5px solid celeste_claro
					opacity .8
			p, .ssa_h2
				padding 1em 1.5em
			p
				font-size 1em
				line-height 1.5em
				text-align justify
				a
					color rojo
					text-decoration underline
				a:hover
					opacity 0.8
			ul
				padding 0 1.5em
				margin 0.2em auto
				li
					display block
					line-height 1.5em
					overflow hidden
					padding 2px
					text-align left
					zoom 1
					.ssa_icon
						display inline-block
						float left
						margin-right 0.5em
						&:before
							color rojo
							display inline-block
							font-family "sin_icons"
							font-size 1em
							vertical-align middle
							text-align center
					.ssa_icon_reloj
						&:before
							content "\e612"
					.ssa_icon_visto
						&:before
							content "\e600"
			.ssa_h2
				border-bottom 2px solid celeste_claro
				color celeste_claro
				font-size 1.2em
				font-weight 700
				margin-bottom 0.5em
				text-align center
				text-transform uppercase
		.ss_article:nth-child(1)
			margin-right 4em
		.ss_article:nth-child(2)
			margin-right 4em
	.s_maintance
		margin 1em auto
		width 60%
		h2, p
			padding 1em 1.5em
		h2
			border-bottom 2px solid celeste_claro
			color celeste_claro
			font-size 1.2em
			font-weight 700
			margin-bottom 0.3em
			text-align center
			text-transform uppercase
		p
			font-size 1em
			line-height 1.5em
			text-align justify
		ul
			column-count 2
			column-gap 8px
			padding 0 1.5em
			margin 0.2em auto
			width 40%
			li
				display block
				line-height 1.5em
				overflow hidden
				padding 2px
				text-align left
				zoom 1
				.ssa_icon
					display inline-block
					float left
					margin-right 0.5em
					&:before
						color rojo
						display inline-block
						font-family "sin_icons"
						font-size 1em
						vertical-align middle
						text-align center
				.ssa_icon_visto
					&:before
						content "\e600"
/* -- Fin Servios -- */

/* -- inicio Innovacion -- */
.s_innovacion
	background fondo_blanco
	box-shadow  0 6px 15px 6px rgba(4,4,4, 0.8)
	width 100%
	.si_content
		margin 0 auto
		padding 1em 0.5em
		&:after
		&:before
			content ""
			display table
			line-height 0
		&:after
			clear both
		h2
			background celeste_claro
			border-bottom 2px solid celeste_claro
			color letra
			display block
			font-size 1.2em
			font-weight 700
			padding 0.6em 0
			margin-bottom 0.6em
			text-transform uppercase
			vertical-align middle
		p
			font-size 1em
			line-height 1.5em
		.d_title, .title
			margin 0 auto
			padding 1em 1.5em
			width 60%
		.title
			background celeste_claro
			padding-top 0.6em
			position relative
			color letra
		.title:after
			content ""
			border-top 58px solid celeste_claro
			border-right 58px solid transparent
			height 0
			position absolute
			right -3em
			top 0
			width 0
		.title:before
			content ""
			border-bottom 58px solid celeste_claro
			border-left 58px solid transparent
			height 0
			position absolute
			left -3em
			top 0
			width 0
		.sic_innovacion
			display inline-block
			margin 0 auto
			padding 1em 0.5em
			width 85%
			.sici_article
				border-bottom 2px solid celeste_claro
				cursor pointer
				float left
				height 275px
				margin 1em auto 0.5em auto
				width 47%
				h3, ul
					padding 0.2em 0.4em
				h3
					display block
					font-size 1em
					text-align left
				img
					border-radius 1em 2em 1em 2em
					width 150px
				ul
					float left
					padding 0 1.5em
					margin 0.1em auto
					width 55%
					li
						display block
						font-size 1em
						line-height 1.2em
						overflow hidden
						padding 2px
						text-align left
						zoom 1
						.sicia_icon
							display inline-block
							float left
							margin-right 0.5em
							&:before
								color rojo
								content "\e600"
								display inline-block
								font-family "sin_icons"
								font-size 1em
								vertical-align middle
								text-align center
			.sici_article:nth-child(1)
				margin-right 4em
			.sici_article:nth-child(3)
				margin-right 4em
			.sici_article:hover
				box-shadow 2px 2px 10px rgba(2,2,2,0.5)
