/* login */
.sign-up
  background white
  border-bottom 1px solid #c4c4c4
  border-radius 5px
  box-shadow 0 1px 5px rgba(0, 0, 0, 0.25)
  margin 50px auto
  padding 33px 25px 29px
  position relative
  width 280px
  &:after
    bottom 3px
    border-color #dcdcdc
.sign-up-error
  background rojo
  border 2px solid rojo_oscuro
  border-radius 0 0 5px 5px
  color letra
  margin 0 auto
  padding 20px
  width 280px

.sign-up:before, .sign-up:after
  background inherit
  border-bottom 1px solid #d2d2d2
  border-radius 4px
  bottom 1px
  content ''
  height 10px
  left 0
  right 0
  position absolute

.sign-up-title
  background #f7f7f7
  color #aaa
  font-size 26px
  font-weight 300
  line-height 35px
  margin -25px -25px 25px
  padding 15px 25px
  text-align center
  text-shadow 0 1px rgba(255, 255, 255, 0.75)
  &:before
    background #c4e17f
    border-radius 5px 5px 0 0
    background-image linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4)
    content ''
    height 8px
    left 0
    right 0
    top 0
    position absolute

input
  box-sizing border-box
  color inherit
  font-family inherit

.sign-up-input
  background white
  border 2px solid #ebebeb
  border-radius 4px
  box-shadow inset 0 -2px #ebebeb
  font-size 17px
  height 50px
  margin-bottom 25px
  padding 0 15px 2px
  width 100%
  &:focus
    border-color #62c2e4
    box-shadow inset 0 -2px #62c2e4
    outline none

.lt-ie9
  .sign-up-input
    line-height 48px

.sign-up-button
  background #f0776c
  border 0
  border-bottom 2px solid #d76b60
  border-radius 5px
  box-shadow inset 0 -2px #d76b60
  color white
  cursor pointer
  font-size 22px
  height 54px
  text-align center
  text-shadow 0 1px 2px rgba(0, 0, 0, 0.25)
  position relative
  padding 0
  vertical-align top
  width 100%
  &:active
    box-shadow none
    outline none
    top 1px

:-moz-placeholder
  color #ccc
  font-weight 300

::-moz-placeholder
  color #ccc
  font-weight 300
  opacity 1

::-webkit-input-placeholder
  color #ccc
  font-weight 300

:-ms-input-placeholder
  color #ccc
  font-weight 300

::-moz-focus-inner
  border 0
  padding 0
/* FIN LOGIN */ 

/* Administrador.php */
.dropdown-menu
  li
    text-align left
.nav-stacked
  li
    text-align left
/* Fin admin.php */