celeste = #0088CC
celeste_bajo = #89C4E2
celeste_claro = #00A5E1
celeste_claro_fondo = #2B9CD4
celeste_oscuro = #036BA5

filo_cajas = #D3D3D3

fondo = #2B3336
fondo_blanco = #FFFFFF
fondo_blanco_oscuro = #F2F2F2
fondo_oscuro = #151515

letra = #ffffff
letra_negra = #5c5c5c
letra_oscura = #B4B4B4
letra_roja_link = #dc7368

rojo = #f36050
rojo_claro = #e74c3c
rojo_oscuro = #B91C23

/*!
 * main.css v1.0.0
 * http://sintrave.com
 *
 * Licensed under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * Copyright 2014, Sintrave Elevadores
 * http://www.sintrave.com
 */

@import url("http://fonts.googleapis.com/css?family=Open+Sans")
@import 'nib/vendor'
@font-face {
	font-family: 'sin_icons';
	src:url('fonts/sin_icons.eot');
	src:url('fonts/sin_icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/sin_icons.woff') format('woff'),
		url('fonts/sin_icons.ttf') format('truetype'),
		url('fonts/sin_icons.svg#sin_icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
vendor-prefixes = moz ms o webkit official

body
	background fondo_blanco_oscuro
	font-family 'Open Sans', Helvetica
	font-size 16px
	margin 0
	text-align center

h1, h2, h3, h4, ol, ul, li, p, a
	color inherit
	font-family inherit
	margin 0 
	padding 0
	text-rendering optimizelegibility

ol, ul
	list-style none

footer, .pre_footer
	box-sizing border-box
	padding 0.5em
	width 100%

/* --- Footer --- */
footer
	background fondo
	color letra_oscura
	.f_left
		float left
		margin-left 1em
		a
			color letra
			font-size 14px
			text-decoration none
			span
				display inline-block
				&:before
					content "\e60e"
					font-size 1em
					font-family "sin_icons"
					margin 0 
					padding .1em
					vertical-align middle
		a:hover
			color rojo
			text-decoration underline
	.f_right
		float right
		margin-right 1em
		p
			font-size 14px
			padding-top 2px
#IrArriba
	position fixed
	bottom 30px /* Distancia desde abajo */
	right 30px /* Distancia desde la derecha */
	a
		text-decoration none
		span
			display block
			&:before
				border-bottom 1px solid celeste_bajo
				color celeste_bajo
				content "\e617"
				display block
				font-family "sin_icons"
				font-size 3em
				margin 0
				padding .1em
				vertical-align middle
				text-align center
				transition all ease-in-out .2s
	a:hover
		span
			opacity .9
			&:before
				border-bottom 1px solid rojo
				color rojo

.clearfix, .pre_footer, footer
	zoom 1
.clearfix:after, .pre_footer:after, footer:after
	clear both
	content ""
	display block
	height 0 
	visibility hidden
.clear
	display block
	clear both
	zoom 1
.fixed
	position fixed
	top 0
.hide
	display none
	visibility hidden

/* --- Section_Home --- */
.s_section
	color letra_negra
	margin 0 auto
	padding-bottom 2em
	overflow hidden
	width 100%
	.s_a_descripcion
		background fondo_blanco
		margin inherit
		padding 3em 0 1em 0
		img
			opacity .7
			transition  all ease-in-out .3s
			width 100px
		img:hover
			opacity 1
		h2
			color celeste
			font-family Helvetica
			font-weight bold
			font-size 1.8em
			letter-spacing 1px
			margin-top 0.8em
			vertical-align middle
		h3
			font-size 1.2em
			margin 1em 5em
	.s_a_section
		margin 4em auto
		max-width 1024px
		width 100%
		/* Text styl */
		h2
			font-size 2.5em
			font-weight 300
			line-height 2
		p
			font-size 1.1em
			font-weight 100
			line-height 1.5
			text-align justify
		/* fin stilo de texto */
		&:after
		&:before
			content " "
			display table
		&:after
			clear both
		.s_a_side
			float left
			margin 0
			min-height 12em
			padding 0.7em 0
			overflow hidden
			transition transform 0.5s, opacity 0.5s
			width 50%
			&:after
			&:before
				content ""
				display table
			&:after
				clear both
			.icon
				background letra_oscura
				border 5px solid letra
				border-radius 50%
				margin 0 140px
				font-size 9em
				transition all ease-in-out 0.4s
				&:before
					color letra
					display inline-block
					font-family "sin_icons"
					padding 0.2em
			.icon:hover
				border 5px solid letra_negra
		.s_a_side_left
			text-align right
			vertical-align middle
			.icon
				float right
			.icon_garantia
				&:before
					content "\e60a"
			.icon_mantenimiento
				&:before
					content "\e608"
		.s_a_side_right
			text-align left
			vertical-align middle
			.icon
				float left
			.icon_seguridad
				&:before
					content "\e609"
			.icon_comercio
				&:before
					content "\e604"

/* Inicio estilos Blog */
@import 'blog.styl'
/* Fin estilos Blog */


/* --- header --- */
.header
	background fondo_blanco
	box-shadow 0 0 1px rgba(0,0,0, 0.7)
	overflow hidden
	margin auto
	padding 0.5em 0
	position relative
	top 0
	width 100% !important
	z-index 1000
	.header_content
		margin 0 auto
		max-width 100%
		width 1000px
		.hn_nav
			display inline-block
			font-size 0.9em
			float right
			.ul_nav
				list-style none
				line-height 4em
				text-align center
				li
					display inline-block
					margin 0
					vertical-align middle
					zoom 1
					a
						color letra_negra
						display inline-block 
						font-family Open Sans, Helvetica
						font-weight 500
						padding 0.8em
						text-decoration none
						text-transform uppercase
						text-rendering optimizelegibility
						transition all ease-in-out 0.2s
						vertical-align middle 
					a:hover
						color celeste_oscuro
						opacity 0.4
					.selected
						color celeste_oscuro
						cursor default
						opacity 0.4
		.logo
			display block
			float left
			img
				vertical-align middle
				opacity 1
				width 283px
				transition opacity ease-in-out 0.1s
			img:hover
				opacity 0.6
/* Fin header */


/* --- Nosotros --- */
@import 'nosotros.styl'
/* --- Fin-Nosotros --- */

/* --- pre-footer_Home --- */
.pre_footer
	background celeste
	border-top 10px solid celeste_bajo
	color letra
	width 100%
	.content_pre
		margin 0 auto
		max-width 100%
		min-width 768px
		padding 1em 0
		width 1200px
		.footer_menu, .noticias, .timeline
			display inline-block
			margin 5px
			vertical-align top
			text-align left
			width 32%
			h2
				font-weight 500
				padding-left 10px
				margin-bottom 25px
				.ico-h2
					display inline-block
					font-size .8em
					font-weight normal
					position relative
					right 10px
					margin 0 auto
					&:before
						color letra
						font-family "sin_icons"
				.ico-noticia
					&:before
						content "\e612"
				.ico-foo_menu
					&:before
						content "\e601"
		.footer_menu
			padding 0
			a
				display inlineblock
				margin 7px auto
				position relative
				overflow hidden
				vertical-align middle
				text-decoration none
				.ico
					background celeste_claro_fondo
					display inline-block
					font-size 1.4em
					margin 0 auto
					padding .3em .6em
					transition all ease-in-out 0.2s
					&:before
						color letra
						font-family "sin_icons"
						padding 0.1em
						transition all ease-in-out 0.2s
				.ico-facebook
					&:before
						content "\e60b"
				.ico-facebook:hover
					background #3b5998
					&:before
						color letra
				.ico-twitter
					&:before
						content "\e60d"
				.ico-twitter:hover
					background #9AE4E8
					&:before
						color letra
				.ico-google
					&:before
						content "\e60c"
				.ico-google:hover
					background #CE3D2B
					&:before
						color letra
			ul
				margin-bottom 1em
				li
					line-height 1em
					font-size .9em
					font-weight 500
					a
						.ico_li
							display inline-block
							font-size 1em
							padding .3em
							&:before
								color letra
								content "\e615"
								font-family "sin_icons"
								padding .1em
					a:hover
						.ico_li
							&:before
								color rojo
		.noticias
			.noti_arti
				margin-bottom 18px
				min-height 60px
				time, .entry_cont
					display inline-block
					vertical-align top
				time
					background celeste_claro_fondo
					text-align center
					padding .4em
					.dia, .mes
						display block
						font-size 1.4em
						line-height 18px
					.dia
						padding-top 2px
					.mes
						padding-bottom 8px
				.entry_cont
					margin-left 80px
					margin-top -3.8em
					a
						font-size .9em
						font-weight 700
						line-height 1
					p
						font-size .8em
						font-weight 400
						
/* --- Slider --- */
.slider_head
	margin 0 auto	
	text-align center
	width 100%
	.ri-grid
		bottom 0
		height auto
		left 0
		margin 0 auto
		position relative
		right 0
		top 0
		z-index 0
		ul
			display block
			list-style none
			margin 0
			padding 0
			width 100%
			&:after,
			&:before
				content ''
				display table
			&:after
				clear both
			li
				background #000
				display block
				float left
				margin 0
				padding 0
				perspective 400px
				position relative
				overflow hidden
				a
					backface-visibility hidden
					background-color #333
					background-position center center
					background-repeat no-repeat
					background-size 100% 100%
					box-sizing content-box
					display block
					height 100%
					left 0
					outline none
					position absolute
					top 0
					transform-style preserve-3d
					width 100%
		ul
			clear both
		.conoce
			color letra
			display block
			bottom 35px
			margin 0 auto
			position absolute
			text-align center
			width 100%
			z-index 10
			a
				border 1px solid letra
				border-radius 5px
				font-size 1em
				font-weight 600
				padding .5em
				text-decoration none
				transition all ease-in-out .1s 
			a:hover
				border 2px solid rojo
		.overlay
			background rgba(8,24,38,.8)
			height 100%
			position absolute
			top 0
			width 100%
			z-index 1
		.slider_title
			color letra
			display table
			height 100%
			margin-top 8em
			position absolute
			width 100%
			z-index 2
			h1
				font-size 3.5em
				font-weight 700
				text-shadow 0 1px 2px rgba(5,5,5,.9)
				opacity 1
			h3
				font-size 2em
				font-style italic
				font-weight 500
				margin-bottom 3em
				text-shadow 0 1px 2px rgba(5,5,5,.5)
	/* Grid wrapper sizes */
	.ri-grid-size-1
		width 55%
	.ri-grid-size-2
		width 100%
	.ri-grid-size-3
		width 100%
		margin-top 0px
	/* Shadow style */
	.ri-shadow:after,
	.ri-shadow:before
		box-shadow 0 15px 10px rgba(0,0,0,.7)
		bottom 15px
		content ""
		height 20%
		left 10px
		max-height 100px
		max-width 300px
		transform rotate(-3deg)
		position absolute
		width 50%
		z-index -2
	.ri-shadow:after
		left auto
		right 10px
		transform rotate(3deg)
	.ri-grid-loading:after,
	.ri-grid-loading:before
		display none
	.ri-loading-image
		display none
	.ri-grid-loading .ri-loading-image
		display block
		height 30px
		left 50%
		margin 100px 0 0 -15px
		position relative
		width 30px
/* --- Fin-Slider --- */
	

/* --- Servicios --- */
@import 'servicios.styl'
/* --- Fin-Servicios --- */

/* --- productos --- */
@import 'productos.styl'
/* --- Fin-productos --- */

/* --- contacto --- */
@import 'contacto.styl'
/* --- Fin-contacto --- */

/* --- Responsive --- */
@import 'responsive.styl'
/* --- Fin-Responsive --- */