.c_p
	background fondo_blanco_oscuro
	margin 0 auto
	padding 1em
	position relative
	widht 100%
.sec_producto, .pro_individual
	width 100%
.sec_producto
	.sp_p
		width 90%
		margin 1em auto
		&:after
		&:before
			content ""
			display table
			line-height 0
		&:after
			clear both
		.title_p
			margin-top -.8em
			h2
				background celeste_claro
				color letra
				margin-bottom 1em
				padding .5em 0 .5em 1.5em
				text-align left
				text-transform uppercase
				position relative
				width 360px
			h2:after
				content ""
				border-top 57px solid celeste_claro
				border-right 57px solid transparent
				height 0
				position absolute
				right -57px
				top 0
				width 0
		.spp_p
			border-bottom 1px solid celeste_bajo
			display inline-block
			margin 0.4em .6em
			padding 0.5em
			transition border-right ease-in-out .4s
			vertical-align top
			width 340px
			&:after
			&:before
				content ""
				display table
				line-height 0
			&:after
				clear both
			img
				border 3px solid celeste_claro
				border-radius 50%
				margin 0 auto
				width 150px
			h3
				color celeste_claro
				margin 0.3em
				font-size 1em
				text-transform uppercase
			p
				color letra_negra
				margin 0.3em
				font-size 0.9em
			a 	
				color rojo
				padding 0.7em 0.5em
				float right
			a:hover
				opacity 0.7
/* --- Contenido Descripcion de Productos --- */
.pro_individual
	&:after
	&:before
		content ""
		display table
		line-height 0
	&:after
		clear both
	.content_p
		margin 0 auto
		padding 0
		max-width 960px
		width 100%
		.sdes
			padding 1em 1em 0.5em 1em
			p
				color letra_negra
				margin 0 auto
				padding 0.7em
				line-height 1.5em
				text-align justify
				max-width 800px

			.title
				background celeste_claro
				display block
				color letra
				font-size 1.2em
				font-weight 700
				margin 0 auto 1em
				padding 0.7em
				position relative
				vertical-align middle
				text-transform uppercase
				max-width 500px
			.title:after
				content ""
				border-top 53px solid celeste_claro
				border-right 53px solid transparent
				height 0
				position absolute
				right -53px
				top 0
				width 0
			.title:before
				content ""
				border-bottom 53px solid celeste_claro
				border-left 53px solid transparent
				height 0
				position absolute
				left -53px
				top 0
				width 0
		.scar
			color letra_negra
			margin 1.5em auto
			padding 0.5em
			&:after
			&:before
				content ""
				display table
				line-height 0
			&:after
				clear both
			.left, .right
				display inline-block
				vertical-align top
				h3
					background celeste_claro
					color letra
					display block
					font-size 1.2em
					margin-bottom 0.8em
					padding 0.7em
					position relative
					text-transform uppercase
				ul
					/*column-count 2
					column-gap 8px*/
					margin 0.2em auto
					width 100%
					li
						display block
						line-height 1.6em
						overflow hidden
						padding 2px
						text-align left
						zoom 1
						.visto
							display inline-block
							margin-right 0.5em
							text-align left
							&:before
								color rojo
								content "\e600"
								display block
								font-family "sin_icons"
								font-size 1em
								margin 0
								padding 0
								vertical-align middle
								text-align center
					p
						line-height 1.5em
				.d_img
					margin-top 1em
					text-align center
					.dimg
						border 2px solid celeste_claro
						border-radius 5px
						display block
						margin auto
						transition border ease-in-out .218s 
						width 160px
					.dimg:hover
						border 2px solid rojo
				.p_img
					.img
						width 260px
			.left
				width 48%
				h3:after
					content ""
					border-top 53px solid celeste_claro
					border-right 53px solid transparent
					height 0
					position absolute
					right -53px
					top 0
					text-align right
					width 0
				p
					text-align left
				.p_img
					float left
			.right
				width 48%
				h3:before
					content ""
					border-bottom 53px solid celeste_claro
					border-left 53px solid transparent
					height 0
					position absolute
					left -53px
					text-align left
					top 0
					width 0
				p
					text-align right
				.p_img
					float right