@media screen and (max-width: 990px)
	//header
	.header
		.header_content
			width 770px
			font-size 95%
	//Prefooter
	.pre_footer
		.content_pre
			.footer_menu, .noticias, .timeline
				width 47%
	//Title Slider
	.slider_head
		.ri-grid
			.slider_title
				margin-top 5em

@media screen and (max-width: 768px)
	//header
	.header
		.header_content
			.hn_nav, .logo
				float none
			.logo
				img
					width 220px
			.hn_nav
				.ul_nav
					line-height 1.5
	//Prefooter
	.pre_footer
		.content_pre
			min-width 100%
			.footer_menu, .noticias, .timeline
				display block
				width 100%
	//Title Slider
	.slider_head
		.ri-grid
			.slider_title
				font-size 70%
				margin-top 3.5em

@media screen and (max-width: 600px)
	footer
		.f_left
			a
				font-size 75%
		.f_right
			p 
				font-size 75%
	//header
	.header
		.header_content
			font-size 85%
			.logo
				img
					width 180px
	//Title Slider
	.slider_head
		.ri-grid
			.slider_title
				font-size 60%
				margin-top 3em

@media screen and (max-width: 480px)
	footer
		.f_left, .f_right
			float none
	//Title Slider
	.slider_head
		.ri-grid
			.slider_title
				font-size 55%
				margin-top 8em
@media screen and (max-width: 320px)
	//Title Slider
	.slider_head
		.ri-grid
			.slider_title
				font-size 45%